.profile {
    max-width: 880px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
@media screen and (max-width: 535px) {
    .profile {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }
}
