.header {
    max-width: 880px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding-bottom: 40px;
    padding-top: 45px;
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 28px;
        padding-bottom: 42px;
    }
}
