.profile__add-button {
    max-width: 150px;
    width: 100%;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: #000;
    opacity: 1;
    transition-duration: 0.5s;
}
.profile__add-button:hover {
    opacity: .6;
}
@media screen and (max-width: 768px) {
    .profile__add-button {
        margin-right: 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 535px) {
    .profile__add-button {
        max-width: 282px;
        margin: 0 auto;
        margin-top: 36px;
    }
}